

.nav-gen{
    background-color: black;
}

.nav-links{
    color: gold;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.button{
    color: rgb(249, 179, 82);
    background-color: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(249, 179, 82); 
    font-size: 20px;
    padding-left:40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.article-content{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
